{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2>Issued Books</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Member</th>
                <th scope="col">Book</th>
                <th scope="col">Date Issued</th>
                <th scope="col">Date Returned</th>  
                <th scope="col">Rent Fee</th>
                <th scope="col">Debt</th>
                <th scope="col">Days</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            {% if not transaction.date_returned %}
            <tr>
                <td>{{ transaction.member.name }}</td>
                <td>{{ transaction.book.title }}</td>
                <td>{{ transaction.date_issued.strftime("%Y-%m-%d") }}</td>
                <td>
                    {% if transaction.date_returned %}
                        {{ transaction.date_returned.strftime("%Y-%m-%d") }}
                    {% else %}
                        Not Returned
                    {% endif %}
                </td>
                <td>
                    {% if transaction.book.fee %}
                        {{ transaction.book.fee }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                <td>
                    {{ member_debt(transaction.member, transaction.date_issued) }}
                </td>
                <td>
                    {% if transaction.days %}
                        {{ transaction.days }}
                    {% else %}
                        {{ (date.today() - transaction.date_issued).days }}
                    {% endif %}
                </td>
                <td>
                    {% if not transaction.date_returned %}
                        <form action="{{ url_for('return_book') }}" method="POST">
                            <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                            <button class="btn btn-secondary" type="submit" value="Return Book">Return Book</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Past Transactions</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Member</th>
                <th scope="col">Book</th>
                <th scope="col">Date Issued</th>
                <th scope="col">Date Returned</th>
                <th scope="col">Settled Debt</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            {% if transaction.date_returned %}
            <tr>
                <td>{{ transaction.member.name }}</td>
                <td>{{ transaction.book.title }}</td>
                <td>{{ transaction.date_issued.strftime("%Y-%m-%d") }}</td>
                <td>{{ transaction.date_returned.strftime("%Y-%m-%d") }}</td>
                <td>{{ member_debt(transaction.member, transaction.date_issued) }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
