{% extends 'base.html' %}

{% block title %}
    Issue Book
{% endblock %}

{% block content %}
    <h4>Issue Book</h4>
    <form class="form-inline" action="{{ url_for('issue_book') }}" method="POST">
        <label class="my-1 mr-2" for="bookSelect" style="font-weight: bold" >Book</label>
        <select name="book_id" class="custom-select my-1 mr-sm-2" id="bookSelect" style="width: 350px; height: 30px">
            {% for book in books %}
                <option value="{{ book.id }}">{{ book.title }} (Fee: {{ book.fee }})</option>
            {% endfor %}
        </select>

        <label class="my-1 mr-2" for="memberSelect" style="font-weight: bold">Member</label>
        <select name="member_id" class="custom-select my-1 mr-sm-2" id="memberSelect" style="width: 350px; height: 30px">
            {% for member in members %}
                <option value="{{ member.id }}">{{ member.name }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-secondary">Issue</button>
        <button class="btn btn-danger"><a href="{{ url_for('home') }}">Cancel</a></button>

    </form>



{% endblock %}
