{% extends 'base.html' %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <button class="btn btn-info" style="justify-content:right"><a href="{{ url_for('books') }}">Go Back</a></button>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
